footer#footer
	#main-footer
		.container-center 
			.contact.contact-social
					a(href="#").facebook
					a(href="#").twitter
			.addition-nav
				+nav([
					{href: "gallery.html", title: "Gallery"},
					{href: "contact.html", title: "Contact"},
				])
