header#header
  .left-strian
  .right-strian
  .center-container
    .logo
      img(src="images/texture/logo.png", alt="logo calmseas hotel")
    .nav-wrap
      .nav
        +nav([
          {href: "vi/index.html", id:"home", title: "GIỚI THIỆU", class: "active"},
          {href: "vi/hang-phong.html", id:"accom", title: "HẠNG PHÒNG"},
          {href: "vi/nha-hang.html", id:"res", title: "NHÀ HÀNG"},
          {href: "vi/tien-ich.html", id:"fac", title: "TIỆN ÍCH"}
        ])
    .booking-phone
      i.fa.fa-phone
      span.hidden-xs Đặt phòng
      span.num (+84) (058) 354 2777
    .sub-nav.accom
      +nav([
        {href: "accommodation-standard-single-city-view.html", title: "STANDARD"},
        {href: "accommodation-deluxe.html", title: "DELUXE"},
        {href: "accommodation-suite-sea-view.html", title: "SUIT SEA VIEW"}
      ])
    .sub-nav.facili
      +nav([
        {href: "facility-room-with-meal.html", title: "ROOM WITH MEALS"},
        {href: "facility-airport-transfer.html", title: "AIRPORT TRANSFER"},
        {href: "facility-massage.html", title:  "MASSAGE"},
        {href: "facility-gym.html", title: "GYM"},
      ])
    .mobile-nav
      .switch-btn
        .fa.fa-bars
  .mobile-nav-wrap
    .nav
      +nav([
        {href: "vi/index.html", id:"home", title: "GIỚI THIỆU"},
        {href: "vi/hang-phong.html", id:"accom", title: "HẠNG PHÒNG"},
        {href: "vi/nha-hang.html", id:"res", title: "NHÀ HÀNG"},
        {href: "vi/tien-ich.html", id:"fac", title: "TIỆN ÍCH"}
      ])
