extends ../layouts/vi-layout-ver2

block vars
	-title = 'Giới thiệu Calmseas Hotel'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	.body-container(ng-controller="page-content")
		#grid-style1.index
			.main-banner.about(style="background-image: url({{pageContent.about22.content}});background-size: cover" editable-block data-block-id="about22" data-type="{{pageContent.about22.type}}")
				.left-strian.hide
				.right-strian.hide
			#main-container
				.brief-text-block.col-xs-12(editable-block data-block-id="about01" data-type="{{pageContent.about01.type}}")
					p.intro-text {{pageContent.about01.content}}
				.clearfix
				.brief-pic-block.brief-block1.no-pad.col-xs-12
					.block.block1.full-height.no-pad.col-sm-7
						.pic.no-pad.pic2.col-xs-12.hidden-xs(style="background-image: url({{pageContent.about02.content}})" editable-block data-block-id="about02" data-type="{{pageContent.about02.type}}")
						img(src="{{pageContent.about02.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block2.full-height.no-pad.col-sm-5
						.text-block.full-height.text-block1.col-xs-12
							h2(editable-block data-block-id="about03" data-type="{{pageContent.about03.type}}")
								img(src="{{pageContent.about03.content}}" alt="calmseas hotel")
							p(editable-block data-block-id="about04" data-type="{{pageContent.about04.type}}") {{pageContent.about04.content}}
						.clearfix
						.pic.no-pad.pic3.col-xs-12.hidden-xs(editable-block data-block-id="about05" data-type="{{pageContent.about05.type}}")
						img(src="{{pageContent.about05.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
				.brief-pic-block.brief-block2.no-pad.col-xs-12
					.block.block3.full-height.no-pad.col-sm-4
						.text-block.full-height.text-block1.col-xs-12
							h2(editable-block data-block-id="about06" data-type="{{pageContent.about06.type}}")
								img(src="{{pageContent.about06.content}}")
							p(editable-block data-block-id="about07" data-type="{{pageContent.about07.type}}") {{pageContent.about07.content}}
						.pic.no-pad.pic4.col-xs-12.hidden-xs(editable-block  data-block-id="about08" style="background-image: url({{pageContent.about08.content}})" data-type="{{pageContent.about06.type}}")
						img(editable-block src="{{pageContent.about08.content}}" alt="calmseas hotel" data-type="{{pageContent.about06.type}}").col-xs-12.visible-xs.no-pad
					.block.block4.full-height.no-pad.col-sm-8
						.pic.no-pad.pic5.col-xs-12.hidden-xs(editable-block  data-block-id="about09" style="background-image:url({{pageContent.about09.content}})" alt="calmseas hotel" data-type="{{pageContent.about09.type}}")
						img(src="{{pageContent.about09.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
				.brief-pic-block.brief-block3.no-pad.col-xs-12
					.block.block5.full-height.no-pad.col-sm-4
						.pic.no-pad.pic6.col-xs-12.hidden-xs(editable-block data-block-id="about10" style="background-image:url({{pageContent.about10.content}})" alt="calmseas hotel" data-type="{{pageContent.about10.type}}")
						img(src="{{pageContent.about10.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block6.full-height.no-pad.col-sm-4
						.text-block.full-height.text-block3.col-xs-12
							h2
								img(editable-block data-block-id="about11" src="{{pageContent.about11.content}}" alt="calmseas hotel" data-type="{{pageContent.about11.type}}")
							p(editable-block data-block-id="about12" data-type="{{pageContent.about12.type}}") {{pageContent.about12.content}}
						.pic.no-pad.pic7.col-xs-12.hidden-xs(editable-block data-block-id="about13" style="background-image:url({{pageContent.about13.content}})" alt="calmseas hotel" data-type="{{pageContent.about13.type}}")
						img(src="{{pageContent.about13.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block7.full-height.no-pad.col-sm-4
						.pic.no-pad.pic8.col-xs-12(editable-block data-block-id="about14" style="background-image:url({{pageContent.about14.content}})" alt="calmseas hotel" data-type="{{pageContent.about14.type}}")
				.brief-text-block.block-grey.col-xs-12
					h2
						img(editable-block src="{{pageContent.about15.content}}" data-block-id="about15" alt="calmseas hotel" data-type="{{pageContent.about15.type}}")
					p(editable-block data-block-id="about16" data-type="{{pageContent.about16.type}}") {{pageContent.about16.content}}
				.clearfix
				.brief-pic-block.brief-block4.no-pad.col-xs-12
					.block.block9.full-height.no-pad.col-sm-4
						.pic.no-pad.pic9.col-xs-12.hidden-xs(editable-block data-block-id="about17" style="background-image:url({{pageContent.about17.content}})" alt="calmseas hotel" data-type="{{pageContent.about17.type}}")
						img(src="{{pageContent.about17.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
						.pic.no-pad.pic10.col-xs-12.hidden-xs(editable-block data-block-id="about18" style="background-image:url({{pageContent.about18.content}})" alt="calmseas hotel" data-type="{{pageContent.about18.type}}")
						img(src="{{pageContent.about18.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block9.full-height.no-pad.col-sm-4
						.pic.no-pad.pic11.col-xs-12.hidden-xs(editable-block data-block-id="about19" style="background-image:url({{pageContent.about19.content}})" alt="calmseas hotel" data-type="{{pageContent.about19.type}}")
						img(src="{{pageContent.about19.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block10.full-height.no-pad.col-sm-4
						.pic.no-pad.pic12.col-xs-12.hidden-xs(editable-block data-block-id="about20" style="background-image:url({{pageContent.about20.content}})" alt="calmseas hotel" data-type="{{pageContent.about20.type}}")
						img(src="{{pageContent.about20.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
						.pic.no-pad.pic13.col-xs-12.hidden-xs(editable-block data-block-id="about21" style="background-image:url({{pageContent.about21.content}})" alt="calmseas hotel" data-type="{{pageContent.about21.type}}")
						img(src="{{pageContent.about21.content}}" alt="calmseas hotel").col-xs-12.visible-xs.no-pad




