extends ../layouts/vi-layout-ver2

block vars
	-title = 'Giới thiệu Calmseas Hotel'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	.body-container
		#grid-style1.index
			.main-banner.about(style="background-image: url(images/photos/ver2-about1.jpg);background-size: cover")
				.left-strian.hide
				.right-strian.hide
			#main-container
				.brief-text-block.col-xs-12(editable-block)
					p.intro-text Chào mừng Quý khách đã đến với khách sạn Clam Seas. Nơi để bạn tận hưởng kỳ nghỉ dưỡng một cách trọn vẹn nhất với lòng hiếu khách hòa cùng vẻ đẹp biển khơi bất tận
				.clearfix
				.brief-pic-block.brief-block1.no-pad.col-xs-12
					.block.block1.full-height.no-pad.col-sm-7
						.pic.no-pad.pic2.col-xs-12.hidden-xs(editable-block)
						img(src="images/photos/ver2-about2.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block2.full-height.no-pad.col-sm-5
						.text-block.full-height.text-block1.col-xs-12
							h2(editable-block)
								img(src="images/texture/ver2-about1.jpg")
							p(editable-block) Tọa lạc trên vị trí đẹp nhất của eo biển đường Phạm Văn Đồng, khiến Du khách có cảm giác như “Chỉ một bước tới biển”, để chạm chân trần trên dải cát mịn thoải êm từ muôn trùng sóng vỗ, để có sự thư thái nhất trong tâm hồn trước vẻ đẹp cuốn hút của biển cả. Không chỉ thế, nơi đây còn là trung tâm hội tụ của quần thể các Danh lam thắng cảnh độc đáo bậc nhất Nha Trang với bãi đá Hòn Chồng huyền thoại, tháp bà Ponagar đậm dấu ấn Chămpa, núi Cô Tiên cổ tích,…, Tất cả đem đến cho Quý khách trải nghiêm du lịch, nghỉ dưỡng trọn vẹn nhất trong tầm tay.
						.clearfix
						.pic.no-pad.pic3.col-xs-12.hidden-xs(editable-block)
							img(src="images/photos/ver2-about3.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
				.brief-pic-block.brief-block2.no-pad.col-xs-12
					.block.block3.full-height.no-pad.col-sm-4
						.text-block.full-height.text-block1.col-xs-12
							h2
								img(src="images/texture/ver2-about2.jpg")
							p Sự hài lòng của Khách hàng là phương châm phát triển của Calm Seas. Bởi thế, chúng tôi luôn dốc lòng phục vụ Quý khách từ sự tiếp đón thân thiện, nhiệt tình, đến phục vụ chuyên nghiệp, sáng tạo nhất. Với Calm Seas, mỗi du khách không chỉ là Quý nhân, mà còn như là một tri kỷ, người thân yêu quý trong gia đình đầy gắn bó.
						.pic.no-pad.pic4.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about4.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block4.full-height.no-pad.col-sm-8
						.pic.no-pad.pic5.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about6.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
				.brief-pic-block.brief-block3.no-pad.col-xs-12
					.block.block5.full-height.no-pad.col-sm-4
						.pic.no-pad.pic6.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about6.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block6.full-height.no-pad.col-sm-4
						.text-block.full-height.text-block3.col-xs-12
							h2
								img(src="images/texture/ver2-about3.jpg")
							p Calm Seas mở ra trước mắt Du khách với vẻ đẹp bất tận từ biển khơi.  Nơi để tâm hồn được trở nên hoàn toàn thư thái cùng người thân yêu khi được mãn nhãn trước đại dương đầy quyến rũ. Như chính những gì ấn tượng nhất mà Calm Seas đem đến Quý khách với “Breathtaking Ocean View”, thưởng thức ly Café ấm đượm ngắm bình minh, hay cùng người thân yêu chuyện trò, chiêm nghiệm cuộc sống trước biển khơi bao la trong không gian sang trọng, ấm cúng sẽ đem lại sự hài lòng mới mẻ nhất cho kỳ nghỉ trọn vẹn của Quý khách.
						.pic.no-pad.pic7.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about7.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block7.full-height.no-pad.col-sm-4
						.pic.no-pad.pic8.col-xs-12
				.brief-text-block.block-grey.col-xs-12
					h2
						img(src="images/texture/ver2-about4.jpg")
					p Nghỉ mình trong không gian tiện nghi, đầy đủ, được thiết kế hài hòa của căn phòng Quý khách sở hữu sau thời gian khám phá bên ngoài sẽ đem đến giây phút nghỉ ngơi, thư giãn trong tâm thế hưởng thụ những điều tuyệt vời nhất từ những giá trị con người đã tâm huyết kiến tạo. Trải nghiệm các thiết bị nội thất cao cấp và tận hưởng của 3 hạng phòng từ tiêu chuẩn đến cao cấp, với hướng nhìn ra biển xanh hay thành phố hiền hòa sẽ để lại ấn tượng khó phai trong lòng Du khách về Phố biển Nha Trang.
				.clearfix
				.brief-pic-block.brief-block4.no-pad.col-xs-12
					.block.block9.full-height.no-pad.col-sm-4
						.pic.no-pad.pic9.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about9.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
						.pic.no-pad.pic10.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about10.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block9.full-height.no-pad.col-sm-4
						.pic.no-pad.pic11.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about11.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
					.block.block10.full-height.no-pad.col-sm-4
						.pic.no-pad.pic12.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about12.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad
						.pic.no-pad.pic13.col-xs-12.hidden-xs
						img(src="images/photos/ver2-about13.jpg" alt="calmseas hotel").col-xs-12.visible-xs.no-pad




