extends ../layouts/vi-layout-ver2

block vars
	-title = 'Nhà hàng Calmseas Hotel'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	.body-container(ng-controller="page-content")
		.main-banner(editable-block data-block-id="res01" data-type="{{pageContent.res01.type}}" style="background-image: url({{pageContent.res01.content}});background-size: cover;")
			.left-strian.hide
			.right-strian.hide
		#main-container
			h1.main-title(style="margin-top:25px" editable-block data-block-id="res02" data-type="{{pageContent.res02.type}}")
				span {{pageContent.res02.content}}
			p.main-desc(editable-block data-block-id="res03" data-type="{{pageContent.res03.type}}") {{pageContent.res03.content}}
			.row.img-set.set1
				.cell.col-sm-3.no-pad(style="padding-right: 3px")
					img(editable-block data-block-id="res04" data-type="{{pageContent.res04.type}}" src="{{pageContent.res04.content}}" alt="calmseas restaurant")
				.cell.col-sm-5.no-pad(style="padding-right: 3px")
					img(editable-block data-block-id="res05" data-type="{{pageContent.res05.type}}" src="{{pageContent.res05.content}}" alt="calmseas restaurant")
				.cell.col-sm-4.no-pad
					img(editable-block data-block-id="res06" data-type="{{pageContent.res06.type}}" src="{{pageContent.res06.content}}" alt="calmseas restaurant")

			.set-title.col-xs-12
				.discover(editable-block data-block-id="res07" data-type="{{pageContent.res07.type}}")
					img(src="{{pageContent.res07.content}}" alt="restaurant")
				.text(editable-block data-block-id="res08" data-type="{{pageContent.res08.type}}") {{pageContent.res08.content}}
			.clearfix
			.row.img-set.set2
				.cell.line2.col-xs-12.max-full.visible-xs
					img(src="{{pageContent.res09.content}}" alt="calmseas restaurant")
				.cell.full-height.col-sm-5.hidden-xs(style="padding-right: 30px")
					img(editable-block data-block-id="res10" data-type="{{pageContent.res10.type}}" src="{{pageContent.res10.content}}" alt="restaurant")
				.cell.col-sm-7
					.cell.line1.col-xs-12
						.cell.col-sm-6.hidden-xs
							img(editable-block data-block-id="res11" data-type="{{pageContent.res11.type}}" src="{{pageContent.res11.content}}" alt="calmseas restaurant")
						.cell.col-sm-6
							.til
								img(editable-block data-block-id="res12" data-type="{{pageContent.res12.type}}" src="{{pageContent.res12.content}}" alt="restaurant")
							p(editable-block data-block-id="res13" data-type="{{pageContent.res13.type}}") {{pageContent.res13.content}}
						.cell.col-sm-6.visible-xs
							img(src="{{pageContent.res11.content}}" alt="calmseas restaurant")
						.clearfix
					.cell.line2.col-xs-12.max-full.hidden-xs
						img(editable-block data-block-id="res09" data-type="{{pageContent.res09.type}}" src="{{pageContent.res09.content}}" alt="calmseas restaurant")
				.cell.full-height.col-sm-5(style="padding-right: 30px").visible-xs
					img(src="{{pageContent.res10.content}}" alt="restaurant")
					.clearfix
				.clearfix
			.set-title.col-xs-12
				.discover(editable-block data-block-id="res14" data-type="{{pageContent.res14.type}}")
					img(src="{{pageContent.res14.content}}" alt="restaurant")
				.text(editable-block data-block-id="res15" data-type="{{pageContent.res15.type}}") {{pageContent.res15.content}}
			.clearfix
			.row.img-set.set2.set2-2
				.cell.col-sm-4(style="padding-right: 20px")
					.cell.line3.col-xs-12
						img(editable-block data-block-id="res16" data-type="{{pageContent.res16.type}}" src="{{pageContent.res16.content}}" alt="restaurant")
					.cell.line4.col-xs-12
						.cell.col-xs-12
							.til
								img(editable-block data-block-id="res17" data-type="{{pageContent.res17.type}}" src="{{pageContent.res17.content}}" alt="restaurant")
							p(editable-block data-block-id="res18" data-type="{{pageContent.res18.type}}") {{pageContent.res18.content}}
				.cell.col-sm-4(style="padding-right: 20px")
					.cell.line5.col-xs-12
						img(editable-block data-block-id="res19" data-type="{{pageContent.res19.type}}" src="{{pageContent.res19.content}}" alt="restaurant")
					.cell.line6.col-xs-12
						img(editable-block data-block-id="res20" data-type="{{pageContent.res20.type}}" src="{{pageContent.res20.content}}" alt="restaurant")
				.cell.full-height.col-sm-4
					img(editable-block data-block-id="res21" data-type="{{pageContent.res21.type}}" src="{{pageContent.res21.content}}" alt="restaurant")
				.clearfix
			.clearfix
			.set-title.col-xs-12
				.discover(editable-block data-block-id="res22" data-type="{{pageContent.res22.type}}")
					img(src="{{pageContent.res22.content}}" alt="restaurant")
				.text(editable-block data-block-id="res23" data-type="{{pageContent.res23.type}}") {{pageContent.res23.content}}
			.clearfix
			.row.img-set.set2.set2-2
				.cell.full-height.col-sm-3.visible-xs
					img(src="{{pageContent.res24.content}}" alt="restaurant" style="float:right;width: auto;height:auto")
				.cell.full-height.col-sm-4.hidden-xs(style="padding-right: 20px;")
					.pic(editable-block data-block-id="res25" data-type="{{pageContent.res25.type}}" style="background-image:url({{pageContent.res25.content}});background-size:cover;background-position: center center);width:100%;height:100%;")
				.cell.col-sm-5(style="padding-right: 20px")
					.cell.line7.col-xs-12
						.cell.col-xs-12
							.til
								img(editable-block data-block-id="res26" data-type="{{pageContent.res26.type}}" src="{{pageContent.res26.content}}" alt="restaurant")
							p(editable-block data-block-id="res27" data-type="{{pageContent.res27.type}}") {{pageContent.res27.content}}
					.cell.line8.col-xs-12
						img(editable-block data-block-id="res28" data-type="{{pageContent.res28.type}}" src="{{pageContent.res28.content}}" alt="restaurant")
					.clearfix
				.cell.full-height.col-sm-4.visible-xs(style="padding-right: 20px")
					img(src="{{pageContent.res25.content}}" alt="restaurant")
				.cell.full-height.col-sm-3.hidden-xs
					img(editable-block data-block-id="res24" data-type="{{pageContent.res24.type}}" src="{{pageContent.res24.content}}" alt="restaurant" style="float:right;width: auto;height:auto")
				.clearfix
			.clearfix
			.set-title.col-xs-12
				.discover
					img(editable-block data-block-id="res29" data-type="{{pageContent.res29.type}}" src="{{pageContent.res29.content}}" alt="restaurant")
				.text(editable-block data-block-id="res30" data-type="{{pageContent.res30.type}}") {{pageContent.res30.type}}
			.clearfix
			.row.img-set.set2.set2-3
				.cell.col-sm-6(style="padding-right: 20px")
					.cell.line9.col-xs-12
						.cell.col-xs-12
							p(editable-block data-block-id="res31" data-type="{{pageContent.res31.type}}") {{pageContent.res31.content}}
							p(editable-block data-block-id="res32" data-type="{{pageContent.res32.type}}") {{pageContent.res32.content}}
							p
								span(editable-block data-block-id="res33" data-type="{{pageContent.res33.type}}") {{pageContent.res33.content}}
								br
								span(editable-block data-block-id="res34" data-type="{{pageContent.res34.type}}") {{pageContent.res34.content}}
					.clearfix
				.cell.full-height.col-sm-3(style="padding-right: 20px")
					.cell.line9.col-xs-12
						img(editable-block data-block-id="res35" data-type="{{pageContent.res35.type}}" src="{{pageContent.res35.content}}" alt="restaurant")
					.cell.line11.col-xs-12
						img(editable-block data-block-id="res36" data-type="{{pageContent.res36.type}}" src="{{pageContent.res36.content}}" alt="restaurant")
					.clearfix
				.cell.full-height.col-sm-3(style="padding-right: 20px")
					.cell.line9.col-xs-12
						img(editable-block data-block-id="res37" data-type="{{pageContent.res37.type}}" src="{{pageContent.res37.content}}" alt="restaurant")
					.cell.line11.col-xs-12
						img(editable-block data-block-id="res38" data-type="{{pageContent.res38.type}}" src="{{pageContent.res38.content}}" alt="restaurant")
					.clearfix
			.clearfix
