extends ../layouts/vi-layout-ver2

block vars
	-title = 'Tiện ích - Calmseas Hotel'
	-bodyClass = 'home'
	-menuIndex = 0

block container
	.body-container
		.main-banner(style="background-image: url(images/photos/ver2-faci1.jpg);background-size: cover;background-position: top center")
			.left-strian.hide
			.right-strian.hide
		#main-container.faci
			.main-text.col-xs-12
				p Với phương châm không ngừng đem đến các trải nghiệm thú vị và hài lòng nhất trong chuyến khám phá nghỉ dưỡng của Du khách, Khách Sạn Calm Sea gửi tặng Quý khách những dịch vụ tiện ích thiết thực mà độc đáo:
			.clearfix
			.grid
				.fac-wrap.col-sm-4
					.pic
						img(src="images/photos/ver2-faci2.jpg")
					.content
						a(href="#")
							h2.title Phục vụ ăn sáng tại phòng
						p.desc Thưởng thức cuộc sống riêng theo cách của bạn, với bình minh thức dậy đón ánh mặt trời đầu tiên từ biển cùng người thân yêu; hay đơn giản là một mình bạn làm chủ cũng sẽ rất tuyệt vời và đặc biệt với bữa sáng ngay trong chính không gian riêng tư mà khoáng đạt được Calm Sea bày trí ấn tượng theo tùy chọn của Du khách trong khoảng thời gian từ 6:00 đến 10:00.
						.fac-info.hide
							i.fa.fa-eye
							span.text.view 532
							i.fa.fa-heart
							span.text.like 32
							i.fa.fa-share
							span.text.share 22
				.fac-wrap.col-sm-4
					.pic
						img(src="images/photos/ver2-faci3.jpg")
					.content
						a(href="#")
							h2.title Thư giãn – Massage chân
						p.desc Nhằm đem lại sự dẻo dai, khỏe khoắn cho đôi chân của Du khách cho những hành trình khám phá mới, dịch vụ Massage chân tại Khách sạn sẽ khiến bạn trở nên hoàn toàn thư thái và tràn đầy năng lượng để tiếp tục thưởng ngoạn vẻ đẹp của Đại dương từ Calm Sea.
						.fac-info.hide
							span.text.view 532
							i.fa.fa-eye
							span.text.like 32
							i.fa.fa-heart
							span.text.share 22
							i.fa.fa-share
				.fac-wrap.col-sm-4
					.pic
						img(src="images/photos/ver2-faci4.jpg")
					.content
						a(href="#")
							h2.title Bãi tắm riêng
						p.desc Đến với trải nghiệm thật đặc biệt trước biển khơi rộng lớn mà đầy riêng tư với Bãi tắm riêng của Calm Sea ngay trước Khách Sạn sẽ mang đến cho Du khách cảm giác được phục vụ ấn tượng nhất. Hòa mình vào làn nước biển trong mát bậc nhất Nha Trang vỗ đều dải cát mịn trải dài, cùng hàng dừa xanh ngát,.., như tất cả yêu chiều của thiên nhiên đều hiện hữu cho riêng mình, để cho tâm hồn thư thái nhất.
						.fac-info.hide
							span.text.view 532
							i.fa.fa-eye
							span.text.like 32
							i.fa.fa-heart
							span.text.share 22
							i.fa.fa-share
				.fac-wrap.col-sm-4
					.pic
						img(src="images/photos/ver2-faci5.jpg")
					.content
						a(href="#")
							h2.title Khu đậu xe
						p.desc Sở hữu chiều dài lên đến 72m ngay trước mặt tiền đối diện Khách Sạn, với sự sang trọng và thoáng mát, khu đậu xe riêng của Calm Sea không chỉ đem đem đến sự tiện lợi và khác biệt khi đỗ mà còn đảm bảo xe của Du khách được chăm sóc với chất lượng tốt nhất.
						.fac-info.hide
							span.text.view 532
							i.fa.fa-eye
							span.text.like 32
							i.fa.fa-heart
							span.text.share 22
							i.fa.fa-share
				.fac-wrap.col-sm-4
					.pic
						img(src="images/photos/ver2-faci6.jpg")
					.content
						a(href="#")
							h2.title Cung cấp xe Ô tô tự lái
						p.desc Thỏa trí khám phá của chính mình, hay cùng người thân và bạn bè rong ruổi đến những miền yêu mới sẽ thật tuyệt vời hơn với chiếc ô tô sang trọng mà Calm Sea cung cấp đến Du khách. Với nhiều tùy chọn về dòng xe đảm bảo chất lượng của Toyota từ 5 đến 7 chỗ, Calm Sea đặc biệt trao chiếc chìa khóa để Du khách của mình được làm chủ và mở ra những chân trời du lịch ý nghĩa.
						.fac-info.hide
							span.text.view 532
							i.fa.fa-eye
							span.text.like 32
							i.fa.fa-heart
							span.text.share 22
							i.fa.fa-share
				.fac-wrap.col-sm-4
					.pic
						img(src="images/photos/ver2-faci7.jpg")
					.content
						a(href="#")
							h2.title Dịch vụ đưa đón du khách
						p.desc Với đội ngũ nhân viên chuyên nghiệp, thấu cảm vị trí địa lý cũng như bản sắc Xứ Trầm cùng phương tiện sang trọng, có sẵn sẽ cùng Du khách Khám phá Nha Trang xinh đẹp, cũng như đón tiễn tại sân bay, ga tàu theo yêu cầu của Quý Khách.
						.fac-info.hide
							span.text.view 532
							i.fa.fa-eye
							span.text.like 32
							i.fa.fa-heart
							span.text.share 22
							i.fa.fa-share





