extends layouts/offer-layout

block vars
  -title = 'Special Offers'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  #sp-offers-container
    .offer-wrap(data-flip)
      .front
        .outer
          .inner
            h2.title Suite room offer 
            .des
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            .read-more  CLICK TO READ MORE
      .back
        .outer
          .inner
            h2.title Suite room offer 
            .des
            .photo-wrap
              img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
            ul.specs
              li 
                i.fa.fa-car
                span Free one-way airport transfer for booking over 3 nights 
              li 
                i.fa.fa-hotel
                span Complimentary 01 30 min foot massage voucher in the hotel 
              li 
                i.fa.fa-birthday-cake
                span Free room decoration for birthday, wedding anniversary and honeymoon with gift. 
              li 
                i.fa.fa-certificate
                span Discount 50% Laundry, Mini Bar for guest stay minimum 20 nights
    .offer-wrap(data-flip)
      .front
        .outer
          .inner
            h2.title Deluxe room offer
            .des
            .photo-wrap
              img(src="images/photos/room2.jpg", title="", alt="Deluxe room offer")
            .read-more  CLICK TO READ MORE
      .back
        .outer
          .inner
            h2.title Deluxe room offer
            .des
            .photo-wrap
              img(src="images/photos/room2.jpg", title="", alt="Deluxe room offer")
            ul.specs
              li 
                i.fa.fa-car
                span Free one-way airport transfer for booking over 3 nights 
              li 
                i.fa.fa-hotel
                span Free room decoration for birthday, wedding anniversary and honeymoon with gift
              li 
                i.fa.fa-certificate
                span Discount 50% Laundry, Mini Bar for guest stay minimum 20 nights
    .offer-wrap(data-flip)
      .front
        .outer
          .inner
            h2.title Honey moon package 
            .des 
            .photo-wrap
              img(src="images/photos/room1.jpg", title="", alt="")
            .read-more  CLICK TO READ MORE
      .back
        .outer
          .inner
            h2.title Honey moon package 
            .des 
            .photo-wrap
              img(src="images/photos/room1.jpg", title="", alt="")
            ul.specs
              li 
                i.fa.fa-heart
                span Our honeymoon room with area of 35m2 is a special room with rose designed bed
              li 
                i.fa.fa-heart
                span Frame large windows or private balconies from which the couple could wake up with sunshine and enjoy the sunset city
              li 
                i.fa.fa-heart
                span Honeymoon room is designed to welcome the sunlight and can create a feeling of warmth and comfort of home.
    .offer-wrap.for-mobile
      .outer
        .inner
          h2.title Suite room offer 
          .des
          .photo-wrap
            img(src="images/photos/room3.jpg", title="", alt="Suite room offer ")
          ul.specs
            li 
              i.fa.fa-car
              span Free one-way airport transfer for booking over 3 nights 
            li 
              i.fa.fa-hotel
              span Complimentary 01 30 min foot massage voucher in the hotel 
            li 
              i.fa.fa-birthday-cake
              span Free room decoration for birthday, wedding anniversary and honeymoon with gift. 
            li 
              i.fa.fa-certificate
              span Discount 50% Laundry, Mini Bar for guest stay minimum 20 nights
    .offer-wrap.for-mobile
      .outer
        .inner
          h2.title Deluxe room offer
          .des
          .photo-wrap
            img(src="images/photos/room2.jpg", title="", alt="Deluxe room offer")
          ul.specs
            li 
              i.fa.fa-car
              span Free one-way airport transfer for booking over 3 nights 
            li 
              i.fa.fa-hotel
              span Free room decoration for birthday, wedding anniversary and honeymoon with gift
            li 
              i.fa.fa-certificate
              span Discount 50% Laundry, Mini Bar for guest stay minimum 20 nights
    .offer-wrap.for-mobile
      .outer
        .inner
          h2.title Honey moon package 
          .des 
          .photo-wrap
            img(src="images/photos/room1.jpg", title="", alt="")
          ul.specs
            li 
              i.fa.fa-heart
              span Our honeymoon room with area of 35m2 is a special room with rose designed bed
            li 
              i.fa.fa-heart
              span Frame large windows or private balconies from which the couple could wake up with sunshine and enjoy the sunset city
            li 
              i.fa.fa-heart
              span Honeymoon room is designed to welcome the sunlight and can create a feeling of warmth and comfort of home.


