#booking-select-room-package
	.a-room
		.room-packages
			.room-brief
				.name Double Rooms
				.room-photo
					img(src="images/upload/rooms/room1.jpg", alt="room1")
				ul
					li
						span.title Room size:
						span.value 29 sq.m
					li
						span.title Bed:
						span.value 1 Double bed
					li
						span.title View:
						span.value Sea
					li
						span.title Max:
						span.value 2 Adults
				.more
					i.fa.fa-photo.photo(title="Gallery")
					i.fa.fa-video-camera.video(title="Video clip")
					i.fa.fa-users.comment(title="Customer Comments")
			.package
				.package-info
					.outer
						.inner
							.info-wrap
								.package-spec
									.name Bed and Breakfast
									ul.specs
										li 
											i.fa.fa-cutlery
											span Breakfast
										li 
											i.fa.fa-bed
											span Basic bed
								.extra-spec
									ul.specs
										li
											i.fa.fa-cutlery
											span Extra breakfast
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li.active
											i.fa.fa-cutlery
											span Extra bed
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li
											i.fa.fa-cutlery
											span Extra spa service
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
							.price
								.value 199.99 $
								.unit USD
								.unit 1 night
								.unit 1 room
						.checking-room
							.available.good 5 available
							.check
								.book-field
									input(type="number", disabled)
								i.fa.fa-check-circle-o.not-checked
								i.fa.fa-check-circle.checked
				.calendar
					.day
						.date
							.week-date	Mon
							.month-date	Mar 21
						.info
							.price 199.99$
					.day
						.date
							.week-date	Tues
							.month-date	Mar 22
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Web
							.month-date	Mar 23
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Thur
							.month-date	Mar 24
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Fri
							.month-date	Mar 25
						.info
							.price 199.99$
					.day
						.date
							.week-date 	Sat
							.month-date	Mar 26
						.info
							.price 199.99$
					.day
						.date
							.week-date	Sun
							.month-date	Mar 27
						.info
							.price 212.99$
					.day
						.date
							.week-date	Mon
							.month-date	Mar 28
						.info
							.price 199.99$
				
				.clear
			.package.selected
				.package-info
					.outer
						.inner
							.info-wrap
								.package-spec
									.name Bed and Breakfast
									ul.specs
										li 
											i.fa.fa-cutlery
											span Breakfast
										li 
											i.fa.fa-bed
											span Basic bed
								.extra-spec
									ul.specs
										li
											i.fa.fa-cutlery
											span Extra breakfast
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li.active
											i.fa.fa-hotel
											span Extra bed
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li.active
											i.fa.fa-cutlery
											span Extra dinner
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li.active
											i.fa.fa-cutlery
											span Extra lunch
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li.active
											i.fa.fa-cutlery
											span Extra bed
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li
											i.fa.fa-heart
											span Extra spa service
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
							.price
								.value 199.99 $
								.unit USD
								.unit 1 night
								.unit 1 room
						.checking-room
							.available.good 5 available
							.check
								.book-field
									input(type="number")
								i.fa.fa-check-circle-o.not-checked
								i.fa.fa-check-circle.checked
				.calendar
					.day
						.date
							.week-date	Mon
							.month-date	Mar 21
						.info
							.price 199.99$
					.day
						.date
							.week-date	Tues
							.month-date	Mar 22
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Web
							.month-date	Mar 23
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Thur
							.month-date	Mar 24
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Fri
							.month-date	Mar 25
						.info
							.price 199.99$
					.day
						.date
							.week-date 	Sat
							.month-date	Mar 26
						.info
							.price 199.99$
					.day
						.date
							.week-date	Sun
							.month-date	Mar 27
						.info
							.price 212.99$
					.day
						.date
							.week-date	Mon
							.month-date	Mar 28
						.info
							.price 199.99$
				
			.package.selected
				.package-info
					.outer
						.inner
							.info-wrap
								.package-spec
									.name Bed and Breakfast
									ul.specs
										li 
											i.fa.fa-cutlery
											span Breakfast
										li 
											i.fa.fa-bed
											span Basic bed
								.extra-spec
									ul.specs
										li
											i.fa.fa-cutlery
											span Extra breakfast
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li.active
											i.fa.fa-cutlery
											span Extra bed
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
										li
											i.fa.fa-cutlery
											span Extra spa service
											i.fa.fa-check-circle-o.check.uncheck
											i.fa.fa-check-circle.check.checked
							.price
								.value 199.99 $
								.unit USD
								.unit 1 night
								.unit 1 room
						.checking-room
							.available.good 5 available
							.check
								.book-field
									input(type="number")
								i.fa.fa-check-circle-o.not-checked
								i.fa.fa-check-circle.checked
				.calendar
					.day
						.date
							.week-date	Mon
							.month-date	Mar 21
						.info
							.price 199.99$
					.day
						.date
							.week-date	Tues
							.month-date	Mar 22
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Web
							.month-date	Mar 23
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Thur
							.month-date	Mar 24
						.info
							.price 199.99$
					.day.checked
						.date
							.week-date	Fri
							.month-date	Mar 25
						.info
							.price 199.99$
					.day
						.date
							.week-date 	Sat
							.month-date	Mar 26
						.info
							.price 199.99$
					.day
						.date
							.week-date	Sun
							.month-date	Mar 27
						.info
							.price 212.99$
					.day
						.date
							.week-date	Mon
							.month-date	Mar 28
						.info
							.price 199.99$
				
			.clear
	
		.clear
